<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.brocent.mapper.GateWayMapper">
    
    <resultMap type="User" id="UserResult">
    	<result property="userId"      column="user_id"      />
        <result property="userName"    column="user_name"    />
        <result property="password"     column="password"     />
		<result property="email"     column="email"     />
		<result property="work"     column="work"     />
		<result property="street"     column="street"     />
		<result property="zip"     column="zip"     />
		<result property="city"     column="city"     />
		<result property="state"     column="state"     />
		<result property="country"     column="country"     />
		<result property="radio"     column="radio"     />
    </resultMap>

    <select id="selectUserInfo" resultMap="UserResult" parameterType="User">
        select * from sys_user where password = #{password} and email = #{email}
    </select>

    <insert id="insertUserInfo" parameterType="User">
        insert into sys_user (
			<if test="userId != null and userId != '' ">user_id,</if>
			<if test="userName != null and userName != '' ">user_name,</if>
			<if test="password != null and password != '' ">password,</if>
			<if test="email != null and email != '' ">email,</if>
			<if test="work != null and work != '' ">work,</if>
			<if test="street != null and street != '' ">street,</if>
			<if test="zip != null and zip != '' ">zip,</if>
			<if test="city != null and city != '' ">city,</if>
			<if test="state != null and state != '' ">state,</if>
			<if test="country != null and country != '' ">country,</if>
			<if test="radio != null and radio != '' ">radio,</if>
 			create_time
        )values(
			<if test="userId != null and userId != ''">#{userId},</if>
			<if test="userName != null and userName != ''">#{userName},</if>
			<if test="password != null and password != ''">#{password},</if>
			<if test="email != null and email != ''">#{email},</if>
			<if test="work != null and work != ''">#{work},</if>
            <if test="street != null and street != '' ">#{street},</if>
            <if test="zip != null and zip != '' ">#{zip},</if>
            <if test="city != null and city != '' ">#{city},</if>
            <if test="state != null and state != '' ">#{state},</if>
            <if test="country != null and country != '' ">#{country},</if>
            <if test="radio != null and radio != '' ">#{radio},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateUserInfo" parameterType="User">
        update sys_user
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="work != null and work != ''">work = #{work},</if>
            <if test="street != null and street != '' ">street = #{street},</if>
            <if test="zip != null and zip != '' ">zip = #{zip},</if>
            <if test="city != null and city != '' ">city = #{city},</if>
            <if test="state != null and state != '' ">state = #{state},</if>
            <if test="country != null and country != '' ">country = #{country},</if>
            <if test="radio != null and radio != '' ">radio = #{radio},</if>
 			update_time = sysdate()
        </set>
        where user_id = 'a0fa9a896ab2496494cbc6ac5be4b965'
    </update>
</mapper>